apiVersion: v1
kind: ConfigMap
metadata:
  name: fetchmail-config
  namespace: stalwart-mail
  labels:
    app: stalwart
data:
  fetchmailrc.template: |
    # Fetchmail configuration template
    # Password placeholders (FETCHMAIL_*_PASSWORD) are replaced at runtime
    # from the migadu-fetch-credentials secret
    # Email placeholders (*_EMAIL_PLACEHOLDER) are replaced from stalwart-emails secret
    
    set daemon 60
    set syslog
    
    # Deliver to Stalwart via SMTP (localhost since we're in the same pod)
    set smtp localhost/25
    
    # Service mailbox
    poll imap.migadu.com
      protocol IMAP
      user "SERVICE_EMAIL_PLACEHOLDER"
      password "FETCHMAIL_SERVICE_PASSWORD"
      ssl
      sslcertck
      is "SERVICE_EMAIL_PLACEHOLDER" here
      nokeep
    
    # Kinga mailbox
    poll imap.migadu.com
      protocol IMAP
      user "KINGA_EMAIL_PLACEHOLDER"
      password "FETCHMAIL_KINGA_PASSWORD"
      ssl
      sslcertck
      is "KINGA_EMAIL_PLACEHOLDER" here
      nokeep
    
    # Alpar mailbox
    poll imap.migadu.com
      protocol IMAP
      user "ALPAR_EMAIL_PLACEHOLDER"
      password "FETCHMAIL_ALPAR_PASSWORD"
      ssl
      sslcertck
      is "ALPAR_EMAIL_PLACEHOLDER" here
      nokeep
