apiVersion: v1
kind: ConfigMap
metadata:
  name: fetchmail-config
  namespace: stalwart-mail
  labels:
    app: stalwart
data:
  fetchmailrc.template: |
    # Fetchmail configuration template
    # Variables are substituted at runtime using envsubst
    # Passwords from: migadu-fetch-credentials secret
    # Emails from: stalwart-emails secret
    
    set daemon 60
    set no syslog
    
    # Service mailbox - delivers to alpar's account
    poll imap.migadu.com
      protocol IMAP
      user "${SERVICE_EMAIL}"
      password "${FETCHMAIL_SERVICE_PASSWORD}"
      ssl
      sslcertck
      smtphost localhost/25
      smtpaddress mail.newjoy.ro
      is "${ALPAR_EMAIL}" here
      nokeep
    
    # Kinga mailbox
    poll imap.migadu.com
      protocol IMAP
      user "${KINGA_EMAIL}"
      password "${FETCHMAIL_KINGA_PASSWORD}"
      ssl
      sslcertck
      smtphost localhost/25
      smtpaddress mail.newjoy.ro
      is "${KINGA_EMAIL}" here
      nokeep
    
    # Alpar mailbox
    poll imap.migadu.com
      protocol IMAP
      user "${ALPAR_EMAIL}"
      password "${FETCHMAIL_ALPAR_PASSWORD}"
      ssl
      sslcertck
      smtphost localhost/25
      smtpaddress mail.newjoy.ro
      is "${ALPAR_EMAIL}" here
      nokeep
