apiVersion: v1
kind: Service
metadata:
  name: mail-relay
  namespace: mail-relay
  labels:
    app: mail-relay
spec:
  type: ClusterIP
  ports:
    - port: 25
      targetPort: smtp
      protocol: TCP
      name: smtp
  selector:
    app: mail-relay




