# ownCloud Infinite Scale ConfigMaps
#
# Contains CSP configuration to allow external OIDC provider (Pocket ID)

apiVersion: v1
kind: ConfigMap
metadata:
  name: owncloud-config
  namespace: owncloud
  labels:
    app: owncloud
  annotations:
    argocd.argoproj.io/sync-wave: "1"
data:
  # Content Security Policy configuration
  # Allows connections to external OIDC provider (auth.newjoy.ro)
  csp.yaml: |
    directives:
      child-src:
        - "'self'"
      connect-src:
        - "'self'"
        - "https://auth.newjoy.ro"
        - "https://raw.githubusercontent.com/owncloud/awesome-ocis/"
      default-src:
        - "'none'"
      font-src:
        - "'self'"
      frame-ancestors:
        - "'none'"
      frame-src:
        - "'self'"
        - "https://auth.newjoy.ro"
        - "blob:"
      img-src:
        - "'self'"
        - "data:"
        - "blob:"
        - "https://raw.githubusercontent.com/owncloud/awesome-ocis/"
      manifest-src:
        - "'self'"
      media-src:
        - "'self'"
      object-src:
        - "'self'"
        - "blob:"
      script-src:
        - "'self'"
        - "'unsafe-inline'"
      style-src:
        - "'self'"
        - "'unsafe-inline'"
      worker-src:
        - "'self'"

